:root {
  --body-bg-color: #ffffff;
  --main-text-color: #2e2f42;
  --text-color: #434455;
  --brand-color: #4d5ae5;
  --hover-color: #404bbf;
  --second-hover-color: #31d0aa;
  --border-color: #e7e9fc;
  --white-text-color: #e7e9fc;
  --second-background-color: #2e2f42;
  --our-team-bg-color: #f4f4fd;
  --brand-color-white: #f4f4fd;
  --svg-fill-color: #8e8f99;
  --modal-bg-color: #fcfcfc;
  --icon-close-normal-color: #000000;
  --icon-close-active-color: #ffffff;
}
body {
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  /* width:1440px;
 margin-left: auto;
 margin-right: auto; */
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 120px 0;
}
/* header */

.logo-studio-color {
  color: var(--main-text-color);
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--brand-color);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-basic {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--border-color);
}

.header-section {
  display: flex;
  align-items: center;
}

.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: var(--hover-color);
}
.header-link.current {
  color: var(--hover-color);
}

.header-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-list .item:not(:last-child) {
  margin-right: 40px;
}
.header-contacts {
  margin-left: auto;
}
.adress-list .item:not(:last-child) {
  margin-right: 40px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.adress-link {
  display: block;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.adress-link:hover,
:focus {
  color: var(--hover-color);
}

/* Portfolio page */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-filtr {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-button {
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  background-color: var(--our-team-bg-color);
}
.portfolio-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hover-color);
  color: var(--body-bg-color);
  cursor: pointer;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px 24px;
  padding: 0;
  margin-top: 72px;
  margin-bottom: 0;
}

.portfolio-link {
  position: relative;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--body-bg-color);
  width: 360px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.portfolio-images {
  display: block;
}
.portfolio-link:hover .image-description {
  transform: translateY(0);
}
.portfolio-link:focus .image-description {
  transform: translateY(0);
}
.image-overlay {
  position: relative;
  overflow: hidden;
}
.image-description {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--brand-color);
  transform: translateY(100%);
  transition: transform, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* padding:40px 32px 0 32px ; */
}
.image-overlay-description {
  /* position: absolute;
    top:40px;
    left:32px;
     */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-white);
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
}

.images-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin: 0;
}
.images-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.border-card {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 32px 16px;
}

/* Footer */
.footer-section {
  background-color: var(--second-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
  margin-top: 16px;
  margin-bottom: 0;
  margin-right: auto;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--brand-color);
  text-decoration: none;
  text-transform: uppercase;
}
.footer-logo-studio-color {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-white);
}

.footer-social-media {
  margin-left: 120px;
}
.footer-social-tittle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-bg-color);
  margin: 0;
}

.footer-container {
  display: flex;
}
.footer-social-list {
  display: flex;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
  list-style: none;
}
.footer-social-item {
  fill: #f4f4fd;
}
.footer-social-item:not(:last-child) {
  margin-right: 16px;
}
.footer-social-icon {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon:hover {
  background-color: var(--second-hover-color);
}
.footer-social-icon:focus {
  background-color: var(--second-hover-color);
}
/* Footer-form */
.footer-form {
  margin-left: 80px;
}
.footer-form-subscribe {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.footer-form-title {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-bg-color);
  margin: 0;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--second-background-color);
  padding-left: 15px;
}
.subscribe-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--body-bg-color);
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--brand-color);
}
.subscribe-button:hover,
.subscribe-button:focus {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--hover-color);
  cursor: pointer;
}
.subscribe-icon {
  margin-left: 16px;
  fill: var(--icon-close-active-color);
}
/* Hero Section */

.hero-section {
  background-color: var(--second-background-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--body-bg-color);
  letter-spacing: 2%;
  width: 496px;
  margin: 0 auto;
}
.order-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-bg-color);
  cursor: pointer;
  font-family: inherit;
  margin-top: 48px;
  padding: 16px 32px;
  border-style: none;
  border-radius: 4px;
}
.order-button:hover,
.order-button:focus {
  background: var(--hover-color);
}

/* Main Section */

.thumb {
  background-color: #f4f4fd;
  border-radius: 4px;
  height: 112px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.list-item {
  width: 264px;
}
.list-item:not(:last-child) {
  margin-right: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 8px;
  margin-bottom: 0;
}
.article-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin-top: 8px;
  margin-bottom: 0;
}

/* Examples*/
.examples-section {
  padding-top: 0;
  padding-bottom: 120px;
}
.examples-section-title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.examples-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
  margin-bottom: 0;
  padding: 0;
}
.examples-images {
  display: block;
  row-gap: 24px;
  max-width: 100%;
  height: auto;
}

.examples-list .item:not(:last-child) {
  margin-right: 24px;
}
.section-items {
  display: flex;
  list-style: none;
}
.section-items:not(:last-child) {
  margin-right: 24px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}
.section-our-team {
  background-color: var(--our-team-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
  padding: 0;
  margin-bottom: 0;
}

.team-items {
  background-color: var(--body-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 32px;
}
.team-items:not(:last-child) {
  margin-right: 24px;
}
.team-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.social-icon {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  fill: #f4f4fd;
}
.social-icon:hover {
  background-color: var(--hover-color);
}
.social-icon:focus {
  background-color: var(--hover-color);
}
.social-item:not(:last-child) {
  margin-right: 24px;
}
.icon-instagram {
  fill: #f4f4fd;
}
.icon-twitter {
  fill: #f4f4fd;
}
.icon-facebook {
  fill: #f4f4fd;
}
.icon-linkedin {
  fill: #f4f4fd;
}
.card-title {
  margin-top: 32px;
  margin-bottom: 0;
}
.card-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  margin-bottom: 0;
  color: var(--text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* CUSTOMERS SECTION */
.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
  margin: 0;
}
.customers-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
  margin-bottom: 0;
  padding: 0;
}
.customers-link {
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 88px;
  width: 168px;
  fill: var(--svg-fill-color);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
  fill: var(--hover-color);
}

.customers-item:not(:last-child) {
  margin-right: 24px;
}

.social-tittle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-bg-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity, 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 408px;
  max-height: 576px;
  background-color: var(--modal-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden.modal {
  transform: scale(1);
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--border-color);
  width: 24px;
  height: 24px;
  fill: var(--icon-close-normal-color);
  cursor: pointer;
}

.modal-close:active,
.modal-close:hover,
.modal-close:focus {
  background-color: var(--hover-color);
  fill: var(--icon-close-active-color);
}
.modal-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid tomato;
}
.modal-form {
  position: relative;
  display: flex;
}
.form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 16px;
  text-align: center;
}
.icon-input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 40%);
}
.modal-input {
  height: 40px;
  width: 100%;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
}

.label-name {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--svg-fill-color);
}
.modal-input:hover,
.modal-input:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
  outline: none;
}
.modal-input:hover + .icon-input,
.modal-input:focus + .icon-input {
  fill: var(--brand-color);
}

.comment-form {
  width: 360px;
  height: 120px;
  display: block;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
  /* padding-top: 8px;
  padding-left: 16px; */
}
.comment-form::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 8px;
  padding-left: 16px;
}
